<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<activeProfiles>
		<activeProfile>github</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>github</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
				</repository>
				<repository>
					<id>github</id>
					<url>https://maven.pkg.github.com/WESCO-International/*</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>mule-extra-repos</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation> 
			<repositories>
				<repository>
					<id>mule-public</id>
					<url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mule-public</id>
					<url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
				</pluginRepository>
			</pluginRepositories>
		</profile> 
		<profile>
			<id>Mule</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>MuleRepository</id>
					<name>MuleRepository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases> 
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>github</id>
			<username>${github.actor}</username>
			<password>${secrets.github_token}</password>
		</server>
		<server>
			<id>MuleRepository</id>
			<username>${env.MULE_NEXUS_USER}</username>
			<password>${env.MULE_NEXUS_PASSWORD}</password>
		</server>
	</servers>
</settings>
